<!DOCTYPE kpartgui>
<kpartgui name="kmymoneyplugin-lua" version="0">
  <MenuBar>
    <Menu name="kmmtools" append="tools_generate_sql">
      <Action name="tools_lua" />
    </Menu>
  </MenuBar>
</kpartgui>
